<div *ngFor="let item of sections; let i = index" [style.display]="item.products && item.products.length > 0 ? 'initial' : 'none'">
    <ion-item lines="none">
        <h6 class="ion-text-wrap header">{{item.name | titlecase}}</h6>
    </ion-item>
    <ion-card class="background-card">
        <ion-item *ngFor="let serv of item.products; let y = index" style="--padding-start: 0; cursor: pointer;" detail (click)="presentProduct(serv)">
            <ion-item lines="none">
                <h6 class="ion-text-wrap name-product">{{serv.name}}</h6>
            </ion-item>
        </ion-item>
    </ion-card>
</div>