<!-- Cover -->
<div class="frame-cover">
    <preload-image [ratio]="{w: 1, h: 0.5}" [src]="profile?.cover || noImage"></preload-image>
</div>

<!-- Profile photo -->
<div class="frame-photo">
    <preload-image [ratio]="{w: 1, h: 1}" [src]="profile?.photo || noImageAvatar"></preload-image>
</div>

<!-- Name -->
<ion-item lines="none" style="text-align: center;">
    <ion-label>
        <h1 class="ion-text-wrap name">{{profile?.name || 'LOGIN.name' | translate}}</h1>
        <p class="ion-text-wrap employment">{{profile?.employment || 'PROFILE.employment' | translate}}</p>
        <p class="ion-text-wrap employment" *ngIf="profile?.web" (click)="goPage(profile?.web)">{{profile?.web}}</p>
    </ion-label>
</ion-item>

<!-- Contact-->
<ion-item lines="none" style="text-align: center; margin: 0.75rem 0 0 0;">
    <ion-label>
        <h2 class="ion-text-wrap contact">{{'PROFILE.contact' | translate}}</h2>
    </ion-label>
</ion-item>
<app-separador-estrella [src]="'contact'"></app-separador-estrella>

<!-- Contacto botones -->
<ion-grid style="margin-bottom: 4rem;">
    <ion-row>
        <ion-col *ngFor="let item of profile?.contact">
            <div>
                <ion-fab vertical="top" horizontal="center" slot="fixed" (click)="emit(item.action)">
                    <ion-fab-button class="buttons">
                        <ion-icon [name]="item.icon"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>

<!-- Icon buttons -->

<ion-item lines="none" style="text-align: center; margin: 0.75rem 0 0 0;">
    <ion-label>
        <h2 class="ion-text-wrap" class="follow">{{'PROFILE.followMe' | translate}}</h2>
    </ion-label>
</ion-item>
<app-separador-estrella [src]="'follow'"></app-separador-estrella>
<ion-grid>
    <ion-row>
        <ion-col>
            <div style="text-align: center;">
                <ion-button *ngFor="let item of profile?.social_net" (click)="goPage(item.page)" fill="clear" slot="start">
                    <ion-icon slot="icon-only" size="small" [name]="item.icon" class="icons"></ion-icon>
                </ion-button>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>