.frame-cover {
    width: 100% !important;
}

.frame-photo {
    width: 30%;
    margin-top: -15%;
    margin-left: 35%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background: white;
    overflow: hidden;
    z-index: 25;
}

.frame-photo.after {
    content: '';
    display: block;
    padding-bottom: 100%;
}