<div [id]="item.name" *ngFor="let item of sections; let i = index; let first = first" [style.display]="item.products && item.products.length > 0 ? 'initial' : 'none'">
    <ion-item lines="none">
        <h6 class="ion-text-wrap header">{{item.name | titlecase}}</h6>
    </ion-item>
    <div style="margin: 0 1rem;">
        <ngx-masonry [options]="myOptions" style="width: 100%">
            <div ngxMasonryItem *ngFor="let prod of item.products" style="width: 47%; margin-bottom: 0.5rem;">
                <ion-card class="card radius10 background-card" style="cursor: pointer;" (click)="presentProduct(prod)">
                    <img [src]="prod.url" width="100%">
                    <div class="price-box price-box-background">
                        <ion-text style="margin: 0;" class="price-product" *ngIf="prod.price">
                            {{prod.price | currency:'CAD':'symbol-narrow':'1.0-2'}}
                        </ion-text>
                    </div>
                    <h6 class="ion-text-wrap name-product" style="margin-left: 0.5rem; margin-top: 0;">{{prod.name}}</h6>
                </ion-card>
            </div>
        </ngx-masonry>
    </div>
</div>