.titulo {
    margin-left: 1rem;
    font-weight: 700;
    color: black;
}

.selected {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background: var(--ion-color-primary);
    color: white;
}