<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ng-container *ngIf="preview; else iconTemplate">
                <ion-button (click)="preview = false">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ng-container>
            <ng-template #iconTemplate>
                <ion-button (click)="close()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ng-template>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!preview">
            <ion-button [disabled]="!croppedImage" (click)="preview = true" class="comfortaa">
                {{'COMMON.preview' | translate}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="preview; else elseTemplate">
        <div id="container">
            <img id="photo" [src]="croppedImage" alt="">
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <image-cropper format="jpg" [imageChangedEvent]="imageChangedEvent" imageQuality="80" (imageLoaded)="imageLoaded()" [maintainAspectRatio]="maintainAspectRatio" [aspectRatio]="aspect" [resizeToWidth]="300" (imageCropped)="imageCropped($event)"></image-cropper>
        <div *ngIf="isCover">
            <image-cropper format="jpg" [imageChangedEvent]="imageChangedEvent" imageQuality="100" (imageLoaded)="imageLoadedDesktop()" [maintainAspectRatio]="maintainAspectRatio" [aspectRatio]="aspect" [resizeToWidth]="1200" (imageCropped)="imageCroppedDesktop($event)"></image-cropper>
        </div>
        <ion-spinner *ngIf="!imageReady || !imageReadyDesktop && isCover" name="bubbles" name="dots" class="spinner"></ion-spinner>
    </ng-template>

</ion-content>
<ion-footer no-border>
    <ion-toolbar>
        <ion-button [disabled]="!croppedImage || !imageReady || !imageReadyDesktop && isCover" (click)="save()" shape="round">
            {{'COMMON.save' | translate}}
        </ion-button>
    </ion-toolbar>
</ion-footer>