<ion-card *ngFor="let item of sections; let i = index" class="main-card fondo-card" [style.display]="item.products && item.products.length > 0 ? 'initial' : 'none'">
    <ion-list-header class="header">
        <ion-label>{{item.name | titlecase}}</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let prod of item.products; let y = index" class="background-card" style="--padding: 0;">
        <ion-item style="--padding-start: 0; cursor: pointer;" lines="none" detail (click)="presentProduct(prod)">
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col size="4">
                        <ion-img class="yi" [src]="prod.url" style="height: 100%; width: 100%; max-height: 5rem; object-fit: cover;" (ionImgWillLoad)="ionImgWillLoad($event)"></ion-img>
                    </ion-col>
                    <ion-col size="8">
                        <ion-item lines="none">
                            <ion-label class="ion-text-wrap">
                                <h2 class="name-product">{{prod.name}}</h2>
                                <h2 class="price-product" *ngIf="prod.price">{{prod.price | currency:'CAD':'symbol-narrow':'1.0-2'}}</h2>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-card>
</ion-card>